body {
    display: flex;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header, .title-section {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    padding-bottom: 80px;

}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    list-Style: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.title-section-text p {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title-section img {
    width: 500px;
    height: 310px;
    object-fit: cover;
}

.title-section {
    align-items: flex-start;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px 20px;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
    padding-bottom: 80px;
}

.info-squares {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.squares {
    width: 200px;
    margin: 24px;
}

.squares img {
    width: 100%;
    border: 1px solid black;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    padding-bottom: 80px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color:#1F2937;
}

.attribution {
    align-self: flex-end;
    padding-left: 50px;
}